* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffafa;
    color: #333533;
    font-family: 'Montserrat', sans-serif;
}

button {
    border: none;
    cursor: pointer; 
    transition: filter 0.2s;  

    &:hover{
        filter: brightness(0.8)
    }
}

a {
    color: #FE6D73;
    cursor: pointer;
    text-decoration: none;

    &:hover{
         filter: brightness(0.8)
    }
    
}
