.homeApresentation {
    height: 100vh;
    display: grid;
    grid-template-columns: 640px 1fr;
}

.initialImage {
    background-image: linear-gradient(17.67deg, #17C3B2 16.84%, rgba(23, 195, 178, 0) 83.83%), url('../../images/techWoman.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.homeAcess {
        flex: 8;
        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 328px;
        align-items: stretch;
        text-align: center;

        form{
            input{
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background: #fff;
                border: 1px solid #a8a8b3;
                
            }
            p{
                display: flex;
                flex-direction: column;
                align-items: center;
                .submit{
                    background:#17C3B2;
                    margin-bottom: 10px;
                    a{
                        margin-top: 10px;
                    }
                }
            }
            
        }

        //max-width: 650px;
        .button-google{
            margin-top: 10px;
            padding: 10px;
            height: 50px;
            border-radius: 8px;
            font-weight: 500;
            background: #ea4335;
            color: #fff;

            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            border: 0;

            transition: filter 0.2s;

            img {
                margin-right: 8px;
            }

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    label {
        font-size: 1.875rem;
    }

    input {
        width: 100%;
        height: 5rem;
        background: #FEF9EF;
        border: none;
        border-radius: 10px;
        margin-top: 1rem;

        &.submit {
            background: #FE6D73;
            color: #FFF;
            border-radius: 0.5rem;
            border: none;
            font-size: 1.5rem;
            max-width: 50%;
            margin-top: 2rem;
            margin-right: 0.5rem;
            padding: 0.5rem 2.5rem;

            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.7)
            }
        }
    }


}

.title {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 700;
}