.initialImage {
    background-image: linear-gradient(17.67deg, #17C3B2 16.84%, rgba(23, 195, 178, 0) 83.83%), url('../../images/techWoman.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    h1 {
        color: #FFF;
        font-size: 2.5rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        margin-top: auto;
        margin-bottom: 2rem;
    }
}




.homeAcess {
    display: flex;
    align-items: center;
    
    .container {
        max-width: 450px;

        .logo{
            align-items: center;
            color: #17C3B2;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            font-size: 5rem;
            padding: 2rem 0rem;

        }

        .texto{
            font-size: 2.5rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }

        .logo-title{
            display: flex;
            align-items: center;

            img{
                width: 120px;
                height: 120px;
                border-radius: 15px;
                margin-right: 15px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            }
        }
    }

    label {
        font-size: 1.875rem;
    }

    .loginForm {
        input {
            width: 100%;
            height: 3rem;
            background: #FEF9EF;
            border: 0.2px solid #ADAAAA;
            border-radius: 10px;
            margin-bottom: 1rem;
            
           
            &.submit {
                background: #FE6D73;
                color: #FFF;
                border-radius: 0.5rem;
                border: none;
                font-size: 1.5rem;
                max-width: 50%;
                margin-top: 2rem;
                margin-right: 0.5rem;
                padding: 0.5rem 2.5rem;

                transition: filter 0.2s;

                

                &:hover {
                    filter: brightness(0.7)
                }
            }
        }

    }
}

.separator {
    font-size: 14px;
    color: #a8a8b3;
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.title{
        font-size: 2rem;
        font-weight: 700;
    }


/* Resposive Styles */

@media (min-width: 0px) {
    .home{
        display: grid;
        grid-template-columns: 100%;
        height: 100vh;
    }

    .initialImage {
        display: none;
    }

    .homeAcess {
        padding: 1rem 1rem;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .home{
        max-width: 1440px;
        grid-template-columns: 40% 60%;
        
    }
    .initialImage {
        display: flex;
        align-items: end;

    }
    .homeAcess {
        .container{
        width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
        
    }
}

@media screen and (min-width: 1200px) {
    .homeAcess {
        padding: 1rem 2rem;
    }
}
