.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #17C3B2;
  width: 10rem;
  height: 100vh;
  padding-top: 2rem;
}

p {
  font-weight: 700;
}

.sidebar__buttons {
  padding-left: 1rem; 
  button {
    background-color: #17C3B2;
    border-radius: 10px 0 0 10px;
    color: #FFF;
    margin-bottom: 1rem;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;

    &:hover{
        background-color: #DEFBF8;
        color: #000;
        filter: brightness(0.99)
    }
  }
}